*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background-color:rgba(26, 11, 46, 1) ;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.navbar a{
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500;
}
.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 48px;             
  padding: 0 26px;           
  border: none;
  border-radius: 999px;

  background: linear-gradient(
    120deg,
    #ffd966 0%,
    #ff4fd8 45%,
    #8f00ff 100%
  );
  color: #fff;
  font-size: 16px;          
  font-weight: 600;
  line-height: 1;

  cursor: pointer;
  box-shadow:
    0 6px 16px rgba(255, 79, 216, 0.35),
    0 0 22px rgba(143, 0, 255, 0.25);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.subscribe-btn:hover {
  transform: translateY(-1px);
  box-shadow:
    0 8px 22px rgba(255, 79, 216, 0.45),
    0 0 28px rgba(143, 0, 255, 0.3);
}

.subscribe-btn .arrow {
  font-size: 18px;           
}


    
 
/* button span {
  display: inline-block;
  background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.set{
    display: flex;
}
.navbar button img{
    justify-content: center;
}
.text-one {
 
  font-family: Arial Black, "Arial Bold", sans-serif; 
}

#span {
  
  background: linear-gradient(to right, #f75590, #d622ff, #8e2de2);
  
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
  display: inline-block;
}
/* #span{
    color: #FB09B4;
} */
.hero{
    position: relative;
    min-height: 100vh;
    background: #120726;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.hero-bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.hero-center{
    position: relative;
    width: 220px;
    height: 220px;
    z-index: 1;
}
.hero-circle{
    width:100% ;
}
.hero-mic{
    position: absolute;
    width: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero h1{
    font-size: 48px;
    margin-top: 30px;
    z-index: 1;
}
.hero p{
    max-width: 520px;
    opacity: 8;
    margin: 15px 0 25px;
    z-index: 1;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    z-index: 1;
}
.pink-btn{
    background: #ff2fcf;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    color: white;
    display: flex;
    cursor: pointer;
}
.green-btn{
    background:#28e98c ;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    color: black;
    display: flex;
    cursor: pointer;
}
.btn-icons{
    width: 18px;
    height: 18px;
    object-fit: contain;
}
img{
    max-width:100% ;
    height: auto;
}

.about{
    
    text-align: center;
    padding: 60px;
    
   
}


.stats{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}
.green-color{
    color: rgba(0, 255, 136, 1);
    font-weight: 900;
    
}
.why-choose{
    background-color:rgba(35, 14, 61, 1);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

h2{
    margin-bottom: 40px;
    font-size: 2.5rem;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;


}
.card{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 25px;
    padding: 25px;
    text-align: left;
    border: 1px solid #2a1a3d;

}
.icon{
    font-size: 30px;
    margin-bottom: 15px;

}
.premium{
    grid-column: 1;
    grid-row: span 2;

}
.exclusive{
    grid-column: span 2;
}
.card img{
    width: 40px;
    margin-bottom: 15px;
}
.video iframe{
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;

}
.ep.video{
    padding-bottom: 15px;
    border: 2px solid black;
    padding: 10px;

}
.ep-cards{
    display: flex;
    
    border-radius: 25px;
    gap: 30px;
}
.episodes{
    justify-content: center;
    justify-items: center;

}
.video{
    width: 380px;
    height: 440;
}
.min{
    color: #28e98c;
    display: flex;
    /* font-weight: 500; */
}
.host{
    padding: 80px;
    text-align: center;

    }
    .picture{
        width: 100%;
    }
.continer{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}
.tittle{
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: bold;
}
.host-card{
    max-width: 1200px;
    display: flex;
    margin: auto;
    background-color: #120726;
    padding: 40px;
    border-radius: 20px;


}
.host-car img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #ff2fcf;
}
.host-card h3 {
    font-size: 28px;
    margin-bottom: 5px;

}
.bio{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 25px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-icons img {
    width: 28px;
    cursor: pointer;
    transition: 0.3s;


}
.social-icons img:hover {
    transform: scale(102);
}
.main-footer{
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0221;
    overflow: hidden;

}
.footer-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}
.footer-container{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;

}
.footer-logo h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;

}
.footer-logo span {
    color: #ff2fcf;
}
.footer-link{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 25px;


}
.footer-link a {
    color: #cdb5e0;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;

}
.footer-link a img {
    width: 10px;

}
.footer-copyright {
    font-size: 14px;
    opacity: 0.7;
}

@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        gap: 15px;
        padding: 20px;

    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

    }
    .hero{
        padding: 40px 20px;

    }
    .hero h1{
        font-size: 34px;

    }
    .hero p{
        font-size: 15px;


    }
    .hero-center{
        width: 180px;
        height: 180px;

    }
    .hero-mic{
        width: 55px;
    }
    .hero-buttons{
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .hero-buttons button{
        width: 80%;
        justify-content: center;
    }
    
}
@media screen and (max-width:768px){
    .ep-cards{
        flex-direction: column;
        align-items: center;

    }
    .ep{
        width:90% ;
    }
    
}

@media (max-width: 768px) {
    .why-choose h2 {
        font-size: 1.8rem;

    }

    .card {
        padding: 25px 20px;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width:768px){
    

    .host{
        padding:40px 15px;


    }
    .host-card{
        width:100%;
        padding:25px 20px;
        flex-direction: column;
        text-align: center;

         }

   
    .host-card img{
        width:120px;
        height:120px;
        margin-bottom: 15px;


    }
     .social-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .social-icons img, .social-icons svg {
        max-width: 100%;
        height: auto;
        width: 50%;
    }
    .bio{
        font-size:13px;
        line-height:1.6;
    }

    .host-icons img{
        width:26px;


      }
}



@media (max-width: 480px) {
    .host .tittle {
        font-size: 1.8rem;
    }
    #left-side {
        font-size: 1.4rem;
    }
 .bio {
        font-size: 0.95rem;
    }
    .picture{
        width: 100%;
    }
}